extends layout

block header_menu
	a.brand(href='/') Pulpier Fiction
	div.nav-collapse.collapse
		ul.nav
			li
				a(href="/") Home
			li
				a(href="/stories") Stories
			li
				a(href='/about') About
			li.active
				a(href='/contact') Contact

block content
	div.row-fluid
		div.span4.offset4
			h1 Contact
			p Send all questions, bug reports, comments to eric_jang[at]brown.edu. Have a nice day!